.product-card {
  position: relative;
  margin-bottom: 70px;
  margin-inline: 20px;

  &__label {
    position: absolute;
    top: 18px;
    right: -11px;
    height: 26px;
    min-width: 80px;
    padding: var(--padding-xs) var(--padding-s);

    display: flex;
    justify-content: center;
    z-index: 10;

    background: var(--light-red);
    color: var(--white);
    font-weight: var(--font-weigth-m);

    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.4);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.4);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.4);

    &::after {
      content: "";
      position: absolute;
      height: 0;
      width: 0;
      border-style: solid;
      border-color: rgb(150, 1, 1) transparent transparent;
      border-width: 8px 10px 0 0;
      top: 100%;
      right: 0;
    }

    &::before {
      content: "";
      position: absolute;
      left: -9px;
      top: 0;
      height: 0;
      width: 0;
      border-style: solid;
      border-width: 13px 11px 13px 0;
      border-color: transparent var(--light-red) transparent transparent;
      transform: scaleX(0.65);
    }
  }

  &__news {
    position: absolute;
    bottom: -10px;
    left: 0;

    padding: var(--padding-m) var(--padding-xl);
    border-radius: 0 20px 20px 0;

    background-color: var(--accent);
    color: var(--white-dark);

    display: grid;
    place-items: center;

    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.4);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.4);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.4);

    @media (max-width: 768px) {
      padding: var(--padding-s) var(--padding-xl);
      font-size: var(--font-size-xs);
    }

    @media (max-width: 425px) {
      font-size: var(--font-size-s);
    }
  }

  &__price-container {
    position: absolute;
    bottom: -60px;
    left: 0;

    display: inline-flex;
    flex-direction: column;
    gap: 2px;
  }

  &__price {
    color: var(--accent);
    font-weight: var(--font-weigth-m);
    font-size: var(--font-size-xxl);

    @media (max-width: 425px) {
      font-size: var(--font-size-xl);
    }
  }

  &__price-old {
    font-size: var(--font-size-s);
    color: var(--dark-gray);
    text-decoration: line-through;
  }

  &__image {
    @media (max-width: 425px) {
    }
  }
}
