.the-link {
  text-decoration: none;
  color: rgb(66, 66, 66);

  font-size: var(--font-size-xl);
  font-weight: var(--font-weigth-m);

  transition: color 0.3s ease;

  &:hover {
    color: var(--dark-gray);
  }

  @media (max-width: 1200px) {
    font-size: var(--font-size-l);
  }
}
