.catalog-kitchen {
  background-color: var(--white-dark);
  border-radius: 5px;
  position: relative;

  &__hidden-anchor {
    position: absolute;
    top: -160px;
    left: 0;

    @media (max-width: 768px) {
      top: -120px;
    }
  }

  &__title {
    font-size: var(--font-size-xxxl);
    font-weight: var(--font-weigth-l);
    text-align: center;
    margin-bottom: var(--margin-l);
    color: var(--text-color);
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-l);

    @media (max-width: 425px) {
      display: flex;
      flex-direction: column;
      padding: var(--padding-xs);
    }
  }
}

.catalog-kitchen-pagination {
  position: relative;
  margin-top: 20px;
  text-align: center;
}

/* Стили для пагинации */
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 0.7;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: var(--accent);
  opacity: 1;
  transform: scale(1.2);
}

/* Адаптивность */
@media (max-width: 768px) {
  :deep(.swiper-pagination-bullet) {
    width: 10px;
    height: 10px;
    margin: 0 3px;
  }
}
