.image-wrapper {
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 16 / 10;

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
