.the-review {
  display: flex;
  flex-direction: column;
  padding: var(--padding-l);
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  row-gap: var(--gap-l);
 
  &__name {
    font-size: var(--font-size-l);
    font-weight: var(--font-weigth-m);
  }

  &__price {
    font-size: var(--font-size-s);
    color: var(--dark-gray);
    opacity: 0.5;
  }

  &__text {
    line-height: 1.1;
    font-size: var(--font-size-m);
    color: var(--dark-gray);
    flex: 1;
  }
}
