.the-review {
  display: flex;
  flex-direction: column;
  padding: var(--padding-l);
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  row-gap: var(--gap-l);

  &__user-container {
    display: flex;
    column-gap: 20px;
  }

  &__name {
    font-size: var(--font-size-l);
    font-weight: var(--font-weigth-m);
    align-self: flex-end;
  }

  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--light-gray);
    object-fit: cover;
    object-position: center;
    flex-shrink: 0;
  }

  &__price {
    font-size: var(--font-size-s);
    color: var(--dark-gray);
    opacity: 0.5;
  }

  &__text {
    position: relative;
    line-height: 1.4;
    font-size: var(--font-size-m);
    color: var(--dark-gray);
    flex: 1;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    // ограничим по умолчанию высоту текста (примерно 4 строки)
    max-height: 6.5em;
    // добавляем перенос слов
    word-wrap: break-word;

    &.expanded {
      max-height: none; // или очень большое значение
      overflow: visible;
    }
  }

  &__toggle {
    background: none;
    border: none;
    color: var(--accent);
    cursor: pointer;
    font-weight: 500;
    margin-top: 5px;
    padding: 0;
    align-self: flex-start;
    transition: color 0.2s ease;

    &:hover {
      text-decoration: underline;
      color: #007bff;
    }
  }
}
