.app-contact {
  display: flex;
  column-gap: 40px;
  padding: 20px 0;

  @media (max-width: 768px) {
    flex-direction: column;
    row-gap: 20px;
  }

  &__map-header {
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0;
    color: var(--accent);

    @media (max-width: 768px) {
      font-size: 24px;
    }
  }

  &__contacts--bold {
    font-weight: 700;
    font-size: 18px;
  }

  &__contacts-header {
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0;
    color: var(--accent);

    @media (max-width: 768px) {
      font-size: 24px;
    }
  }

  &__contacts-container {
    display: flex;
    flex-direction: column;
    row-gap: 50px;

    @media (max-width: 768px) {
      row-gap: 20px;
    }
  }

  &__contacts-block {
    display: flex;
    column-gap: 10px;
    align-items: center;
    & > p {
      color: var(--dark-gray);
      font-weight: 500;

      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
  }

  &__contacts-container-block {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__meta {
    font-size: 18px;

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  &__iframe-map {
    width: 350px;
    height: 350px;

    @media (max-width: 768px) {
      width: 345px;
      height: 250px;
    }
  }
}
