.the-footer {
  display: flex;
  align-items: center;
  padding: 20px var(--padding-l) var(--padding-xl);
  border-top: 1px solid var(--light-gray);

  &__image-wrapper {
    height: 300px;
    border-radius: 5px;
    overflow: hidden;

    &__image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__meta {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: var(--padding-xxl);

    @media (max-width: 768px) {
      align-items: start;
    }
  }

  &__meta-content {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-l);

    &__header {
      font-size: 20px;
      font-weight: 600;
    }
  }

  &__meta-container {
    display: flex;
    align-items: center;
    column-gap: var(--gap-l);
  }

  &__link {
    text-decoration: none;
    color: var(--middle-gray);
    font-weight: var(--font-weigth-m);
  }
}
